<form action="/favourites" method="post">
    <input type="text" hidden name="_id" value=<%=home._id %>>
    <button type="submit" class="bg-indigo-600 text-white px-8 py-3 rounded-2xl font-bold shadow hover:bg-indigo-700 transition cursor-pointer">Favourite</button>
</form>