<nav class="bg-amber-600 flex justify-evenly text-2xl text-white p-5 mb-5 rounded-lg shadow-md">
    <button class="bg-amber-500 hover:bg-amber-700 px-4 py-2 rounded transition">
        <a href="/" class="focus:outline-none">Go to home</a>
    </button>
    <button class="bg-amber-500 hover:bg-amber-700 px-4 py-2 rounded transition">
        <a href="/add-home" class="focus:outline-none">Add home</a>
    </button>
</nav>