<nav
    class="bg-white flex justify-between items-center text-lg text-gray-800 p-4 mb-6 rounded-lg shadow-lg border border-gray-200">
    <div class="font-bold text-amber-600 text-2xl">
        <a href="/" class="px-4 py-2 rounded focus:outline-none">RentHouse</a>
    </div>
    <div class="flex gap-6">
        <a href="/homes" class="px-4 py-2 rounded hover:bg-amber-100 transition focus:outline-none">Home List</a>
        <a href="/bookings" class="px-4 py-2 rounded hover:bg-amber-100 transition focus:outline-none">Bookings</a>
        <a href="/favourites" class="px-4 py-2 rounded hover:bg-amber-100 transition focus:outline-none">Favourites</a>
        <a href="/host-home-list" class="px-4 py-2 rounded hover:bg-amber-100 transition focus:outline-none">Host
            Home</a>
        <a href="/add-home"
            class="px-4 py-2 rounded hover:bg-amber-100 transition focus:outline-none bg-amber-500 text-white hover:bg-amber-600">Add
            Home</a>
    </div>
</nav>