<%-include('../partials/head') %>
<body>
    <%-include('../partials/nav') %>
    <div class="text-center">
        <h1 class="text-3xl text-red-700">
          Your Information is submitted
        </h1>
    </div>
</body>
</html>